@model PharmacyManagment.Models.ViewModels.Account.CustomerVM

@{
    ViewBag.Title = "إضافة عميل جديد";
}

<div class="alert alert-info text-center">
    <h2 style="color:#000;">مرحبا بك في شاشة إضافة العملاء الذين تتعامل معهم لشراء الأدوية</h2>
</div>
@if (TempData["SM"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["SM"]
    </div>
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="إضافة العميل" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("الرجوع إلى قائمة العملاء", "ShowCustomers", null, new { @class = "btn btn-info" })
</div>
