@model IEnumerable<PharmacyManagment.Models.ViewModels.Medicine.MedicineVM>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MedicineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @item.ExpiryDate.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHasTapes)
        </td>
        <td colspan="3">
            @Html.ActionLink("تعديل", "EditMedicine", new { id = item.Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("تفاصيل الدواء", "DetialsMedicine", new { id = item.Id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("حذف", "DeleteMedicine", new { id = item.Id }, new { @class = "btn btn-danger delete" })
        </td>
    </tr>
}
@section Scripts {
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>

        $(function () {
            /*
            * Confirm Employee deletion
            */
            $("a.delete").click(function () {
                if (!confirm("هل أنت موافق على حذف هذا ادواء من الصيدلية ؟")) return false;
            });
        });
</script>
    }